body {
    background-color: #e8f9fd;
    margin: 0;
}

img {
width: 200px;
border-radius: 50%;
margin-right: 30px;
}

h2 {
    text-align: center;
}

table {
    margin: auto;
}

p {
    width: 300px;
}
.header {
    background-color: #79daeb;
    padding: 20px 0 30px;
}
h1 {
    color: #0aa1dd;
}
h2 {
    color: #0aa1dd;
}
hr {
    border: none;
    border-top: 5px dotted #0aa1dd;
    margin: 50px auto;
    width: 100px;
}

.footer {
    background-color: #79daeb;
    padding: 30px 0;
    text-align: center;
}

a {
    font-size: 25px;
    text-decoration: none;
    color: #0aa1dd;
    margin: 0 20px;
}